                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class='footer'>
        <ul>
          <li><a href='https://www.pagerduty.com'><i class='icon-home'></i> PagerDuty Home </a></li>
          <li class='spacer'>/</li>
          <li><a href='https://www.pagerduty.com/integrations'><i class='icon-book'></i> Integration Guides </a></li>
          <li class='spacer'>/</li>
          <li><a href='http://support.pagerduty.com'><i class='icon-bullhorn'></i> Support </a></li>
          <li class='spacer'>/</li>
          <li><a href='mailto:support@pagerduty.com'><i class='icon-envelope-alt'></i> Contact Us </a></li>
          <li class='spacer'>/</li>
          <li><a href='https://twitter.com/pagerduty'><i class='icon-twitter'></i>Twitter </a></li>
          <li class='spacer'>/</li>
          <li><a href='https://github.com/PagerDuty'><i class='icon-github'></i> Github </a></li>
          <li class='spacer'>/</li>
        </ul>
      </footer>
    </div>
    <div id='deprecation-warning'>
      <div class='alert-warning alert alert-block'>
        <p>
          <strong>PagerDuty API v1 is deprecated.</strong>
          Learn about <a href='https://v2.developer.pagerduty.com/docs/migrating-to-api-v2' target='v2'>migrating to API v2</a>, read the <a href='https://v2.developer.pagerduty.com/v2/docs/api-v2-frequently-asked-questions' target='v2'>API v1 End-of-Life FAQ</a>, or <a href='mailto:support@pagerduty.com'>contact our support team</a> for assistance.
        </p>
      </div>
    </div>
    <script src="/assets/js/application.js" type="text/javascript"></script>
  </body>
</html>
