{% include header.html %}
		<div class="container">
			<div class="row row-offcanvas row-offcanvas-right">
				<div class="col-xs-12 col-sm-9">
					<p class="pull-right visible-xs">
						<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
					</p>
					<div class="site-heading">
							<h1 class="site-title">PagerDuty Developers</h1>
							<p class="lead site-tagline">Site tagline here or whatever idk.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-9">
					<div class="row quickstart">
						<div class="col-6 col-sm-6 col-lg-4">
							<div class="panel">
								<a href="#">
									<span class="typcn typcn-clipboard" alt="Get Started Icon"></span>
									<h3>Overview</h3>
									<p>General information about using our API.</p>
								</a>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-4">
							<div class="panel">
								<a href="#">
									<span class="typcn typcn-cog-outline" alt="API Icon"></span>
									<h3>REST API</h3>
									<p>Blurb about our API.</p>
								</a>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-4">
							<div class="panel">
								<a href="#">
									<!-- TODO: Need a webhooks icon in the same style as the rest of these -->
									<span class="typcn typcn-link-outline" alt="Webhooks Icon"></span>
									<h3>Webhooks</h3>
									<p>Blurb about webhooks here.</p>
								</a>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-4">
							<div class="panel">
								<a href="#">
									<span class="typcn typcn-arrow-sync-outline" alt="Integration Icon"></span>
									<h3>Integrations</h3>
									<p>Blurb about integrations here.</p>
								</a>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-4">
							<div class="panel">
								<a href="#">
									<span class="typcn typcn-code-outline" alt="Code Samples Icon"></span>
									<h3>Code Samples</h3>
									<p>Blurb about code samples here.</p>
								</a>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-4">
							<div class="panel">
								<a href="#">
									<span class="typcn typcn-spanner-outline" alt="Tools Icon"></span>
									<h3>Tools and Libraries</h3>
									<p>Find out more about our platform and how PagerDuty helps level up your global operations.</p>
								</a>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-4">
							<div class="panel">
								<a href="#">
									<span class="typcn typcn-export-outline" alt="Share Icon"></span>
									<h3>Share</h3>
									<p>Share what you've made!</p>
								</a>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-4">
							<div class="panel">
								<a href="#">
									<span class="typcn typcn-messages" alt="Support Icon"></span>
									<h3>Support</h3>
									<p>Problem? Find out how to get help here.</p>
								</a>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-4">
							<div class="panel">
								<a href="#">
									<!-- TODO: Need a PD icon in the same style as the rest -->
									<span class="typcn typcn-export-outline" alt="About PagerDuty Icon"></span>
									<h3>About PagerDuty</h3>
									<p>General information about PagerDuty</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
					<div class="list-group">
						<a href="#" class="list-group-item active">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
						<a href="#" class="list-group-item">Link</a>
					</div>
				</div>
			</div>
		<!-- Div that closes "container" is located in _includes/footer.html -->
{% include footer.html %}